
body {
  background-color: #f7e830;
  font-family: Garamond;
  padding: 48px;
  font-size: 14pt;
  color: #555;
}
h1 {
  font-size: 24pt;
}
h2 {
  font-size: 24pt;
}

a {
    color: #37a;
    font-weight: bold;
}

#StartButton {
    font-size: 30pt;
}

.instructions {
    font-size: 22pt;
    color: #555;
    padding-bottom: 20px;
}

.footer {
    padding-top: 20px;
}
.playdiv {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
}
